.spinner {
    border: 10px solid #ccc;
    width: 50px;
    border-radius: 50%;
    margin:19px auto;
    align-items: center;
    height: 50px;
    border-top-color: #007bff;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }