body {
  background-color: #111724;
}

.back {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  width: 500px;
  margin: 50px auto;
  font-weight: 900;
  padding: 20px;
  font-family: "Montserrat";
  color: white;
  background-color: rgb(37, 51, 58);
}

.back h3 {
  color: rgb(8, 25, 33);
}

.back input {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid rgb(8, 25, 33);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgb(175, 175, 191);
}

.back button {
  background-color: rgb(8, 25, 33);
  color: white;
  padding: 10px;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
  background: #1a1e27;
}

.back img {
  width: 40%;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 125px;
  margin-top: 30px;
}

.back label {
  color: rgb(8, 25, 33);
  margin-bottom: 8px;
  text-align: left;
  display: block;
}

.back p {
  color: red;
  text-align: left;
}


.sort-price {
  display: flex;
  width: 70%;
  margin: 20px auto;
  justify-content: space-between;
}
.sort-price span {
  margin-left: 20px;
}
.sort-price button {
  background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  border: none;
  margin: 10px;
cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  color: white;
  width: 115px;
}
.genre button {
  margin: 10px 5px;
  background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  color: white;
  padding: 10px;
  border: none;
  font-size: 15px;
cursor: pointer;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 0;
  width: 200px;
}

.swal2-title {
  width: 450px;
  justify-content: center;
  text-align: center;
}
