.pagination .notActive{
  background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
     margin-left: 10px;
    color: white;
    width: 40px;
}

.pagination{
  padding: 10px;
     margin: auto;
   width: 400px;
   
}

.active{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #3766c2 100%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
     margin-left: 10px;
    color: white;
    width: 40px;
}