.book-container {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #2c41c0 100%);
    width: 300px; /* Reduced width */
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content */
}

.book-container:hover {
    border: 2px solid #61c96f;
    transition: all 0.3s;
}

.book-container img {
    width: 60%; 
    transition: transform 0.5s ease; /* Add transition */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Show pointer cursor */
    padding: 10px;
}

/* Add hover effect */
.book-container img:hover {
    transform: scale(1.1); /* Increase size by 10% */
}

.book-container span {
    color: wheat;
    display: block;
    padding: 0;
    margin-bottom: 5px; /* Reduced margin */
    font-size: 18px; /* Reduced font size */
    text-align: center; /* Center text */
}
.book-container button{
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
   margin-left: 10px;
  color: white;
  width: 100px;
}

.card-container{
      display: grid;
       grid-template-columns:repeat(4, 1fr);
}

@media (max-width: 480px) {

    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .book-container{
          margin-left: 53px;
    }
}