
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal {
    background: rgb(21, 23, 43);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: -2px;
    right: -29px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  .book-form {
    display: flex;
    flex-direction: column;
  }
  
  .book-form label {
    margin-bottom: 10px;
    font-size: 25px;
       color: wheat;
    font-family: "Montserrat";
  }
  
  .book-form input {
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  h2{
    font-family: 'Montserrat';
    width: 130px;
    
    margin: auto;
  }
  .modal-buttons button[type="button"] {
    background-color:#373161
  }
  
  .modal-buttons button[type="submit"] {
    background-color: #61c96f;
    color: white;
  }
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid rgb(8, 25, 33);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(175, 175, 191);
  }