.nav-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  background-color: rgb(19, 19, 48);
}

.title {
  font-size: 20px;
  color: white;
  font-family: "Montserrat";
  margin-left: 10px;
  padding: 10px;
}
.nav-child {

  margin-right: 15px;
}

.input-container {
  width: 37em;
}

.input-container input {
  padding: 10px;
  width: 35em;
  border: none;
    color: white;
  background-color: #35355e;
  border-radius: 20px;
}
  .nav-child button{
    background-color: #35355e;
    border: none;
    border-radius: 20px;
    padding: 10px;
     color: white;
      width: 100px;  
  }
