.nav-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  background-color: rgb(19, 19, 48);
}

.title {
  font-size: 20px;
  color: white;
  font-family: "Montserrat";
  margin-left: 10px;
  padding: 10px;
}
.nav-child {
  margin-right: 15px;
}

.input-container {
  width: 37em;
}

.input-container input {
  padding: 10px;
  width: 35em;
  border: none;
  color: white;
  background-color: #35355e;
  border-radius: 20px;
}
.nav-child button {
  background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
  cursor: pointer;
  width: 100px;
}
/* styles.css */
.admin-link {
  color: white;
  text-decoration: none;
  border: none;
  padding: 10px;
  font-family: "Montserrat";
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

.admin-link:hover {
  color: #181a9d; /* A lighter shade of white for hover effect */
}
